@inherits LayoutComponentBase
@inject IJSRuntime JS;
@page "/habitaciones"

<div class="page ">
    <div class="bg-primario vh-100 p-3 d-flex flex-column justify-content-between w-auto">
        <NavMenuHabitaciones />
    </div>


    <main class="bg-fondo vh-100 p-3 container overflow-auto">

        <div class="container overflow-hidden">

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button @onclick="bucle" class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>

            <!--Fila-->
            <div class="row gx-1 justify-content-between mb-4">
                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-rojo-card">
                        <p class="mb-1 "><u>101</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-verde-card">
                        <p class="mb-1 "><u>102</u></p>
                        <p class="mb-0">Ocupada</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Joaquin Zamora</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

                <div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
                    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
                        <p class="mb-1 "><u>103</u></p>
                        <p class="mb-0">Reparacion</p>
                    </div>
                    <div class="px-2 pb-2 text-center">
                        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
                        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>


@code {

    private void bucle()
    {
        for (int i = 1; i <= 45; i++)
        {
            //<div class="col-lg-2 col-md-12 bg-white border-radius shadow p-0">
            //    <div class="text-uppercase text-white text-center border-radius-top fw-bold pb-2 bg-lila-card">
            //        <p class="mb-1 "><u>103</u></p>
            //        <p class="mb-0">Reparacion</p>
            //    </div>
            //    <div class="px-2 pb-2 text-center">
            //        <p class="fw-bold gris-claro m-0 py-4 ">Humedad</p>
            //        <button class="btn btn-secondary p-1 text-uppercase fw-bold font-xs">Ver habitacion</button>
            //    </div>
            //</div>

            Console.WriteLine(i);
        }
    }
}

